[sensor_1]
name = "Sensor 1"
pin = 1
times_active_until_considered_stuck = 5
times_inactive_until_considered_empty = 5
wait = 1

[sensor_2]
name = "Sensor 2"
pin = 2
times_active_until_considered_stuck = 5
times_inactive_until_considered_empty = 5
wait = 1

[sensor_3]
name = "Sensor 3"
pin = 3
times_active_until_considered_stuck = 5
times_inactive_until_considered_empty = 5
wait = 1
